*{
    margin: 0;
    padding: 0;
}
.cart{
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    text-align: center;
}
.nav2{
    background-color: lightpink;
    height: 100px;
}
.search{
    box-shadow: 0px 3px grey;
    background-color: lightpink;
    border: none;
}
.icon{
    margin-top: 100px;
    margin-left: 0px;
    width: 200px;
    height: 200px;
    background-color: orange;
    overflow: visible;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.smallicon{
    border: 1px solid white;
    padding: 10px;
    width: 100px;
    height: 100px;
    color: white;
    align-items: center;
    justify-content: center; 
    align-items: center; 
}
#nav1 div ul li .head1{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
nav div .head1{
    font-size: 25px;
    color: white;
    font-weight: bold;
}
div ul li .head2{
    font-size: 25px;
    color: white;
}

.contain .main_container{
    background-image:url('img/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 90%;   
}
.sec_container{
    background-color: lightcoral;
    min-height: 110vh;
    margin-left: 10%;
    width: 90%;
    position: absolute;
    justify-content: end;
    z-index: -1;
}

.products{
    margin-top: 200px;
    height: 100vh;
    align-items: center;
}
.products .row h1{
    align-self: center;
    font-size: 40px;
}
.products .row{
    font-size: 30px;
    font-weight: bold;
    color: darkgray;
}
.carousel-indicators{
    top: 0;
    margin-top: 0px;
    width: 20px;
    height: 2px;
}
.slider{
    height: 70%;
    width: 100%;
}
.card_img{
    background-color: lightcoral;
}

.insta_img{
    height: 100%;
}
.contain_insta{
    border-radius: 20px;
    border: 2px solid salmon;
    margin-bottom: 18px;
}

.contact{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.background{
    background-color: lightsalmon;
    height:100vh;
    width: 95%;
    position: absolute;
    z-index: -1;
}
.front_background{
    margin-top: auto;
    background-color: darkblue;
    height: 70vh;
    width: 100%;
    bottom: 0;
    margin-right: 0;
    margin-left: 5%;
    color: white;
    padding: 40px;
}
.contact_info{
    margin: 30px;
}

.media_icon{
width: 50px;
height: 50px;
border-radius: 20px;
}
.s_icon{
    border: 2px solid orange;
    padding: 10px;
    width: 100px;
    height: 100px;
    color: orange;
    align-items: center;
    justify-content: center; 
    align-items: center; 
}

.link_cards{
    color: white;
    margin-left: 40px;
}
.link_cards h3{
    color: white;
}
.link_cards a{
    text-decoration: none;
    color: white;
}

.footer{
    margin-top: auto;
    margin-bottom: 0;
}

@media screen and (max-width:768px) {
    .icon{
        display:none;
    }
    .main_container{
        min-height: 30vh;
    }
    
}